@media all and (max-width: 768px) and (min-width: 650px) {
    #edu1{
        display: none;
    }
    #edu2{
        display: none;
    }
    #edu3{
        display: none;
    }
    #edu4{
        display: none;
    }
    #idschool{
        display: none;
    }
    #idschool2{
        display: none;
    }
    #idinstitute{
        display: none;
    }
    #Scltext{
        display: block;
    }
    #Scl1text{
        display: block;
    }
    #Unitext{
        display: block;
    }
    label #s1, label #s2{
        font-size: 30px;
        color: rgb(100 255 218);
        float: right;
        line-height: 60px;
        margin-right: 10px;
        cursor: pointer;
        display: none;
        margin-top: 10px
    }
    #body{
        height: 5920px;
        width: 100vw;
        margin: 0;
        padding: 0;
        background-color: rgb(10 25 47);
        border: 1px solid red;
    }
    label #s1{
        display: block;
    }

    nav ul{
        position: fixed;
        width:100vw;
        height: 100vh;
        background-color: rgb(10 25 47);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 16px;
    }

    /* For Responsive State */
    #res-menu:checked ~ ul{
        left: 0;
    }

    #res-menu:checked ~ label #s1{
        display: none;
    }

    #res-menu:checked ~ label #s2{
        display: block;
    }

    /* Banner */
    /*.banner-text h2{*/
    /*    font-size: 40px;*/
    /*}*/
    #circle{
        bottom: 70px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        height: 350px;
        position: absolute;
        overflow: hidden;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    #dot{
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        top: 490px;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .sliderimg{
        background-size: cover;
        background-position: center;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .banner-area{
        /*bottom: 30px;*/
        /*left: 0px;*/
        /*right: 0px;*/
        /*margin-left: 8px;*/
        /*margin-right: 6px;*/
        /*height: 350px;*/
        width: 100%;
        height: 100%;
    }



    .pic2{
        width: 100%;
        height: 100%;

    }
    .pic3{
        width: 100%;
        height: 100%;
    }
    .pic4{;
        width: 100%;
        height: 100%;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    /*#profile{*/
    /*    height: calc((100vh * 2) + 100px);*/
    /*}*/
    #idone{
        height: 30px;
        width: 136px;
        position: absolute;
        font-size: 25px;
        margin-bottom: 5px;
        left: 0px;
        /* margin-top: 0px; */
        /* margin-left: 0px; */
        top: 0;
        right: 0;
        bottom: 405px;
        margin: auto
    }
    #all1{
        height: 30px;
        width: 265px;
        position: relative;
        left: 0px;
        margin-bottom: 0;
        font-size: 20px;
        margin-top: 5px;
    }

    #pro1{
        top: 0;
        width: 90vw;
        height: 300px;
        position: relative;
        left: 0px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #pro2{
        top: 0;
        width: 100vw;
        height: 350px;
        position: relative;
        left: 0px;
        height: 305px;
    }
    #pro3{
        top: 0;
        width: 100vw;
        height: 350px;
        position: relative;
        left: 0px
    }

    #two {
        font-size: 18px;
        color: rgb(100 255 218);
        position: absolute;
        top: 13px;
        right: 740px;
    }
    #three{
        width: 20px;
        height: 20px;
        top: 245px;
        left: 119px;
    }
    #idfive{
        top: 243px;
        left: 150px;
        font-size: 15px;
    }
    #four{
        width: 20px;
        height: 20px;
        top: 245px;
        left: 420px;
    }
    #idsix{
        top: 243px;
        left: 451px;
        font-size: 15px;
    }
    #pic{
        width: 280px;
        height: 280px;
        left: 0px;
        right: 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    #idbox{
        width: 280px;
        height: 280px;
        top: 15px;
        bottom: 0;
        right: 0;
        left: 15px;
        margin: auto;
    }
    #idbox1{
        width: 280px;
        height: 280px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgb(100 255 218);
        opacity: 0.5;
    }
    #idtop{
        height: 100px;
        width: 90px;
        position: absolute;
        font-size: 25px;
        margin-bottom: 5px;
        left: 0px;
        top: 200px;
        right: 0;
        bottom: 405px;
        margin: auto;
    }
    #t1{
        display: inline-block;
        margin-top: 90px;
        margin-left: 60px;
        font-size: 19px;
    }
    #t2{
        margin-left: 60px;
        font-size: 19px;
    }
    #t3{
        margin-left: 60px;
        margin-bottom: 5px;
        font-size: 19px;
    }
    #idimg3{
        left: 560px;
        top: 180px;
    }
    #idimg2{
        right: 180px;
        left: 560px;
        top: 105px;
    }
    #idimg1{
        left: 560px;
        top: 250px;
    }
    .all{
        font-size: 19px;
    }
    #all2{
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #all3{
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #all4{
        font-size: 18px;
        margin-top: 10px;
    }
    #idskill{
        position: absolute;
        width: 80vw;
        left: 0px;
        right: 0;
        top: 55px;
        bottom: 0;
        margin: auto;
    }
    #idsub{
        font-size: 17px;
        margin-left: 85px;
        margin-top: 8px;
    }
    #idsub1{
        font-size: 17px;
        margin-left: 85px;
        margin-top: 8px;
    }
    #idsub2{
        font-size: 17px;
        margin-left: 85px;
        margin-top: 8px;
    }
    #idrow1{
        left: 0px;
        width: 100vw;
        margin-left: 0;
    }
    #idrow2{
        left: 0px;
        width: 100vw;
        margin-left: 0;
    }
    #edu{
        left: 170px;
        top: 50px;
    }
    #idschool{
        width: 150px;
        font-size: 18px;
        left: 270px;
        top: 92px;
    }
    #idschool2{
        width: 238px;
        font-size: 18px;
        left: 280px;
        top: 240px;
    }
    #idinstitute{
        font-size: 18px;
        left: 270px;
        top: 392px;
        width: 268px;
    }
    /*#contactmain{*/
    /*    width: 100vw;*/
    /*    height: calc(100vh + 100vh);*/
    /*    position: relative;*/

    /*}*/
    .imgname{
        left: 22px;
    }
    .imgfullname{
        font-size: 27px;
        width: 260px;
        left: 35px;
        top: 122px;
    }
    .imgjava{
        font-size: 27px;
        width: 247px;
        left: 39px;
        top: 163px;
    }
    #font{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font1\.1{
        font-size: 27px;
        width: 101px;
        left: 80px;
        padding-top: 0px;
    }
    #font1\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 135px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #artical1{
        width: 100vw;
        height: 30px;
    }
    #profiledetail{
        width: 100vw;
    }
    #idbox1{
        width: 280px;
        height: 280px;
        left: 0px;
        right: 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    #idbox1:hover{
        opacity: 0.0;
    }
    #artical2{
        width: 100vw;
        height: 30px;
    }
    #font2{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font2\.1{
        font-size: 27px;
        width: 101px;
        left: 80px;
        padding-top: 0px;
    }
    #font2\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 135px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #mainprofile{
        height: 520px;
    }
    #profile{
        height:1090px;
        width: 100vw;
    }
    #skills{
        height: 520px;
    }
    #assiment{
        height: 1640px;
    }
    #artical3{
        width: 100vw;
        height: 30px;
    }
    #font3{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font3\.1{
        font-size: 27px;
        width: 101px;
        left: 90px;
        padding-top: 0px;
    }
    #font3\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 180px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #sectionfour{
        height: 42px;
    }
    #gitass1{
        height: 350px;
        width: calc(100vw * (3/4));
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
    }
    #gitass2{
        height: 350px;
        width: calc(100vw * (3/4));
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
    }
    #gitass3{
        height: 350px;
        width: calc(100vw * (3/4));
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 715px;
    }
    #gitass4{
        height: 350px;
        width: calc(100vw * (3/4));
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 1460px;
    }
    #see{
        width: 120px;
        height: 50px;
        top: 1590px;
    }
    #interest{
        height: 520px;
    }
    #artical4{
        width: 100vw;
        height: 30px;
    }
    #font4{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font4\.1{
        font-size: 27px;
        width: 101px;
        left: 85px;
        padding-top: 0px;
    }
    #font4\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 150px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #music{
        width: 200px;
        height: 75px;
        top: 80px;
        left: 90px;
        position: absolute;
    }
    #game{
        width: 200px;
        height: 75px;
        top: 230px;
        left: 90px;
        position: absolute;
    }
    #rc{
        width: 200px;
        height: 75px;
        top: 390px;
        left: 90px;
        position: absolute;
    }
    #reading{
        width: 200px;
        height: 75px;
        top: 145px;
        right: 0;
        left: 411px;
        position: absolute;
    }
    #swim{
        width: 200px;
        height: 75px;
        top: 190px;
        bottom: 0px;
        right: 0;
        left: 390px;
        position: absolute;
        margin: auto;
    }
    #educationmain{
        height: 520px;
    }
    #artical5{
        width: 100vw;
        height: 30px;
    }
    #font5{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font5\.1{
        font-size: 27px;
        width: 101px;
        left: 90px;
        padding-top: 0px;
    }
    #font5\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 180px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #Scltext{
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        bottom: auto;
        margin: auto;
        width: 65vw;
        height: 125px;
        text-align: center;
        padding-bottom: 8px;

    }
    #Scl1text{
        position: absolute;
        left: 0;
        right: 0;
        top: 210px;
        bottom: auto;
        margin: auto;
        width: 65vw;
        height: 125px;
        text-align: center;
        padding-bottom: 8px;
    }
    #Unitext{
        position: absolute;
        left: 0;
        right: 0;
        top: 360px;
        bottom: auto;
        margin: auto;
        width: 65vw;
        height: 125px;
        text-align: center;
        padding-bottom: 8px;
    }
    #edu4{
        position: absolute;
        left: 0;
        right: 0;
        top: 360px;
        bottom: auto;
        margin: auto;
        width: 0px;
    }
    #contactmain{
        height: 1080px;
        width: 100vw;
    }
    #idlast{
        height: 1020px;
    }
    .mySlides{
        width: 100%;
        height: 350px;
    }
    #artical6{
        width: 100vw;
        height: 30px;
    }
    #font6{
        font-size: 27px;
        padding-top: 0px;
        left: 0px;
        margin-left: 0px;
    }
    #font6\.1{
        font-size: 27px;
        width: 101px;
        left: 85px;
        padding-top: 0px;
    }
    #font6\.2{
        font-size: 8px;
        margin-left: 0px;
        padding-top: 0px;
        left: 150px;
        width: 195px;
        bottom: 0px;
        height: 20px;
    }
    #contact1{
        left: 0;
        width: 100vw;
        height: 100px;
        position: absolute;
        bottom: 0px;
        top: 0;
    }
    #phone{
        width: 100px;
        height: 100px;
        left: 80px;
        top: 0px;
    }
    #phonetitle{
        top: 8px;
        left: 210px;
        font-size: 24px;
    }
    #number{
        font-size: 24px;
        left: 210px;
        top: 49px;
    }
    #idtext{
        width: 500px;
        left: 150px;
        height: 100px;
        margin-left: 34px;
        font-size: 22px;
        font-style: initial;
    }
    #contact2{
        left: 0;
        width: 100vw;
        height: 100px;
        position: absolute;
        bottom: 0px;
        top: 110px;
    }
    #location{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 340px;
        top: 0;
        bottom: 0;
    }
    #locationtitle{
        top: 8px;
        left: 460px;
        font-size: 24px;
    }
    #address{
        font-size: 16px;
        left: 459px;
        width: 190px;
        top: 43px;
    }
    #address1{
        font-size: 16px;
        left: 459px;
        width: 190px;
        top: 68px;
    }
    #contact3{
        left: 0;
        width: 100vw;
        height: 100px;
        position: absolute;
        bottom: 0px;
        top: 235px;
    }
    #email{
        width: 100px;
        height: 100px;
        left: 80px;
        top: 0px;
    }
    #emailname{
        top: 8px;
        left: 210px;
        font-size: 24px;
    }
    #emailaddress{
        font-size: 17px;
        left: 210px;
        top: 49px;
    }
    #inbox{
        width: 0px;
        left: 0;
    }
    #inboxnew{
        width: 100vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 225px;
        margin: auto;
        height: 35px;
    }
    #name{
        font-size: 21px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: 60px;
        height: 30px;
        top: 350px;
    }
    #name1{
        font-size: 0px;
        left: 100px;
        top: 430px;
    }
    #namebox{
        height: 28px;
        width: 75vw;
        margin: auto;
        left: 0;
        right: 0;
        top: 460px;
    }
    #addemail{
        font-size: 21px;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        height: 28px;
        top: 500px;
        width: 139px;
    }
    #addemail1{
        font-size: 0px;
        left: 100px;
        top: 520px;
    }
    #emailbox{
        height: 28px;
        width: 75vw;
        margin: auto;
        left: 0;
        right: 0;
        top: 610px;
    }
    #detail{
        font-size: 21px;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        height: 28px;
        top: 642px;
        width: 88px;
    }
    #detail1{
        font-size: 0px;
        left: 100px;
        top: 520px;
    }
    #detailbox{
        width: 75vw;;
        margin: auto;
        left: 0;
        right: 0;
        top: 730px;
        height: 185px;
    }
    #send{
        top: 955px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
    #fot{
        height: 30px;
        width: 100vw;
    }
    #idconatct {
        height: 60px
    }
    #lastp{
        margin-top: 3px;
        margin-bottom: 0px;
    }
}
